---
layout: index.html
---
<div class="flex flex-col flex-1">
  {% include '_card.html' odd:true title:sections.tienda.title image:sections.tienda.image p:sections.tienda.p q:sections.tienda.q href:sections.tienda.href text:sections.tienda.text %}
  {% include '_card.html' odd:false title:sections.comentarios.title image:sections.comentarios.image p:sections.comentarios.p q:sections.comentarios.q href:sections.comentarios.href text:sections.comentarios.text %}
  {% include '_card.html' odd:true title:sections.stickers.title image:sections.stickers.image p:sections.stickers.p q:sections.stickers.q href:sections.stickers.href text:sections.stickers.text %}
  {% include '_contacto.html' %}
</div>