---
layout: index.html
---
<main class="flex flex-col flex-1">
  {% include '_card.html' title:'¡Si no te inspira no es!' image:'/static/images/tienda.png' odd:true p:'Mi primer libro ya está disponible ¡Pedí el tuyo acá!.' q:'La inspiración es un fueguito que va prendiendo otros fueguitos, porque funciona cuando alguien hace algo, que interpela a un otro y lo hace hacer algo también' href:settings._.tienda btn:'Ir a la tienda' %}
  {% include '_card.html' title:'Dejame acá tus comentarios sobre el libro.' image:'/static/images/comentarios.png' odd:false p:'Quiero saber que cosas nos pusieron en sintonía a vos y a mí.' href:'/comentarios' btn:'Enviar un comentario' %}
  {% include '_card.html' title:'¡Descarga tus stickers!' image:'/static/images/stickers.png' odd:true p:'¡Y sigamos dejando fueguitos por ahí!🔥❤ ' href:'/stickers' btn:'Ver Stickers' %}
  {% include '_contacto.html' %}
</main>