<section class="section">
  <div class="relative bg-white">
    <div class="absolute inset-0">
      <div class="absolute inset-y-0 left-0 w-1/2 bg-gray-50"></div>
    </div>
    <div class="relative mx-auto lg:grid lg:grid-cols-5">
      <div class="py-16 px-4 sm:px-6 lg:col-span-2 lg:px-8 lg:py-24 xl:pr-12"><img src="/static/images/comentarios.png">
      </div>
      <div class="bg-white py-16 px-4 sm:px-6 lg:col-span-3 lg:py-24 lg:px-8 xl:pl-12">
        <div class="max-w-lg mx-auto lg:max-w-none">
          <h2 class="text-2xl font-extrabold tracking-tight">Dejame acá tus comentarios sobre
            el libro.</h2>
          <p class="mt-3 text-lg leading-6 text-gray-500">Quiero saber que cosas nos pusieron en sintonía a vos y a mí.
          </p>
          <form class="grid grid-cols-1 gap-y-6 mt-3" name="comentarios" action="#" method="POST" data-netlify="true">
            <div><label for="full-name" class="sr-only">Nombre</label> <input type="text" name="full-name"
                id="full-name" autocomplete="name"
                class="block w-full shadow-sm py-3 px-4 placeholder-gray-500 focus:ring-primary-500 focus:border-primary-500 border-gray-300 rounded-md"
                placeholder="Nombre"></div>
            <div><label for="email" class="sr-only">Email</label> <input id="email" name="email" type="email"
                autocomplete="email"
                class="block w-full shadow-sm py-3 px-4 placeholder-gray-500 focus:ring-primary-500 focus:border-primary-500 border-gray-300 rounded-md"
                placeholder="Email"></div>
            <div><label for="message" class="sr-only">Message</label> <textarea id="message" name="message" rows="4"
                class="block w-full shadow-sm py-3 px-4 placeholder-gray-500 focus:ring-primary-500 focus:border-primary-500 border border-gray-300 rounded-md"
                placeholder="Mensaje"></textarea></div>
            <div><button type="submit"
                class="inline-flex justify-center py-3 px-6 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>