<div class="bg-[#F9B36B]">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8s lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl tracking-tight sm:text-4xl">
      <span class="block text-indigo-600">Suscribite</span>
      <span class="block text-2xl text-white">¡Y entérate antes que nadie de todas las novedades!</span>
    </h2>
    <form class="flex" name="suscribite" action="#" method="POST" data-netlify="true">
      <div>
        <label for="email" class="sr-only">Email</label>
        <input id="email" name="email" type="email"
          autocomplete="email"
          class="block w-full shadow-sm py-3 placeholder-gray-500 focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md"
          placeholder="Email">
      </div>
      <div class="inline-flex rounded-md shadow">
        <button type="submit" class="w-full inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:w-auto">→</button>
      </div>
    </form>
  </div>
</div>