<!-- Footer section -->
<footer class="mt-24 bg-gray-900 sm:mt-12">
  <div class="mx-auto max-w-md py-12 px-4 overflow-hidden sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
    <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
      {% for x in settings.nav %}
      <div class="px-5 py-2">
        <a href="{{ x.url }}" class="text-base text-gray-400 hover:text-gray-300">{{ x.txt }}</a>
      </div>
      {% endfor %}
    </nav>
    <div class="mt-8 flex justify-center space-x-6">
      {% for x in settings.social %}
      <a href="#" class="text-gray-400 hover:text-gray-300">
        <span class="sr-only">{{ x.alt }}</span>
        <img class="block h-6 w-auto" src="{{ x.src }}" alt="{{ x.alt }}">
      </a>
      {% endfor %}
    </div>
    <!--<p class="mt-8 text-center text-base text-gray-400">&copy; 2020 Workflow, Inc. All rights reserved.</p>-->
  </div>
</footer>