<meta name="x-base-url" content="{{ settings.url }}" />
<link rel="canonical" href="{{ settings.url }}{{ page.url }}">

<meta name="description" content="{{ settings.description }}">
<meta name="robots" content="index,follow">
<meta name="author" content="{{ settings.author }}">

<meta property="og:title" content="{{ settings.title }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ settings.url }}{{ page.url }}">
<meta property="og:description" content="{{ settings.description }}">
<meta property="og:image" content="{{ settings.og }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="{{ settings.url }}{{ page.url }}">
<meta name="twitter:title" content="{{ settings.title }}">
<meta name="twitter:description" content="{{ settings.description }}">
<meta name="twitter:image" content="{{ settings.og }}">