<!DOCTYPE html>
<html lang="{{ settings.lang }}">

<head>
  <title>{{ settings.title }}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/vectors/favicon.svg" rel="icon">
  <link href="/main.css" rel="stylesheet" />
  <script src="/main.js" defer></script>
  {% include 'partials/seo.html' %}
  {% block head %}{% endblock %}
  <style> [x-cloak] { display: none !important; } </style>
</head>

<body class="flex flex-col justify-between min-h-screen">
  {% include "partials/nav.html" %}
  {{ content }}
  {% include "partials/footer.html" %}
  {% block javascript %}{% endblock %}
</body>

</html>